<!DOCTYPE html>
<html>
    <head>
        <title>Help</title>
        <link rel="icon" href="/img/weather.png">
        <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
        <div class="main-content">
            {{>header}}
            <p>This site provides real time weather service using data from mapbox.com and darksky.net.</p>
            <p>You may search for weather by address, city, or postal code.</p>
        </div>
        {{>footer}}
    </body>
</html>